/* Стили для банковских карточек на главной */
.card-list {
    display: flex;            /* Выстраивает дочерние элементы в ряд */
    flex-direction: row;      /* Направление — горизонтальное (по умолчанию) */
    gap: 16px;                /* Расстояние между карточками */
    
    overflow-x: auto;         /* Включает горизонтальную прокрутку, если карты не влезают */
    padding: 20px;            /* Внутренний отступ, чтобы тени карточек не обрезались */
    
    /* Скрытие стандартного скроллбара (опционально, для красоты) */
    scrollbar-width: none;    /* Для Firefox */
}

.card-list::-webkit-scrollbar {
    display: none;            /* Для Chrome, Safari, Edge */
}

/* Важно для самих карточек внутри flex-контейнера */
.card {
    flex: 0 0 300px;          /* 0 0 означает: не сжиматься и не растягиваться. 
                                 300px — фиксированная ширина каждой карты */
    background-color: #88b9ba;

    /* Значение в пикселях (чем больше число, тем сильнее закругление) */
    border-radius: 7px; 
}

.left-text {
    text-align: right; /* Текст внутри прижат влево */
}

.card-text {
    /* Отступы - верх, право, низ, лево */
    padding: 3px 15px 3px 15px;
}


